.y-win__image {
    border-radius: 5px;
    box-shadow: #00000026 0px 5px 9px 0px;
}

.y-win__image.y-win__mini-image {
    width: 150px;
    object-fit: cover;
}

.y-win__avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
}
